

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ImageUpload</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
		<li>
			<button class="btn btn-default navbar-btn btn-md">
				<%= simple_form_for @image do |f| %>
				<%= f.file_field :img %>
			</button>

				<%= f.button :submit %>
				<% end %>

		</li>

              </ul>
            </li>
          </ul>
          <ul class="nav  navbar-right">

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="newPage">


</div>
